<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Recipe Generator | F.R.M</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="background">
            <nav class="title">
                <h3> Fernando Rodriguez M. | Recipe Generator </h3>
            </nav>

            <main class="content">
                <section class="ingredients_checklist">
                    <input type="text" id="search" placeholder="Search ingredients...">

                    <div class="ingredients_list">
                        <div class="ingredient" data-checked="false"> Ingredient 1 </div>
                        <div class="ingredient" data-checked="false"> Ingredient 2 </div>
                        <div class="ingredient" data-checked="false"> Ingredient 3 </div>

                        <script src="{{ url_for('static', filename='script.js') }}"></script>
                    </div>
                </section>

                <section class="recipe_results">
                    <p class="TEST2"> Test Recipe [Placeholder]</p>
                </section>
            </main>
        </div>
    </body>

</html>